<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="author" content="Moncho Varela" />
    <meta name="title" content="DOC3+1 | <%= data.title %>" />
    <meta name="description" content="<%= data.description %>" />
    <meta name="keywords" content="javascript,editor,DOC3+1,md" />

    <!-- Android  -->
    <meta name="theme-color" content="#fefefe">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Manifest">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Windows  -->
    <meta name="msapplication-navbutton-color" content="#fefefe">
    <meta name="msapplication-TileColor" content="#12b886">

    <!-- Pinned Sites  -->
    <meta name="application-name" content="<%= data.title %>">
    <meta name="msapplication-tooltip" content="<%= data.description %>">
    <meta name="msapplication-starturl" content="/">

    <!-- Tap highlighting  -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- UC Mobile Browser  -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">

    <meta itemprop="name" content="DOC3+1 | <%= data.title %>" />
    <meta itemprop="description" content="<%= data.description %>" />

    <link crossorigin rel="apple-touch-icon" sizes="180x180" href="<%= baseUrl %>/api/icons/apple-touch-icon.png">
    <link crossorigin  rel="icon" type="image/png" sizes="32x32" href="<%= baseUrl %>/api/icons/favicon-32x32.png">
    <link crossorigin rel="icon" type="image/png" sizes="16x16" href="<%= baseUrl %>/api/icons/favicon-16x16.png">
    <link crossorigin rel="manifest" href="<%= baseUrl %>/api/icons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#12b886">
    <meta name="theme-color" content="#fefefe">

    <title>DOC3+1 | Error</title>
    <style>html,body{ position:relative; height:100%;} body{ display: flex; justify-content: center; align-items: center; font-size: 16px; font-weight: normal; font-family: "Consolas",monospace; background: linear-gradient(120deg, #bd87e9, #4dc7c7); color: white; overflow: hidden;} .info{ width: 22rem; height: 10rem;}</style>
</head>
<body>
    <section class="info">
        <h3>DOC3+1 error</h3>
        <p>The code is not public, please contact with admin.</p>
    </section>
</body>
</html>